  .ExpFolder-page-container{
  width: 0vw;
  height: 0vh;
  position: relative;
  }
  .ExpFolder-inter-container1{
    top: -680px;
    left: -680px;
    width: 15vw;
    height: 18vh;
    position: absolute;
    border-radius: 20px;
  }
  .ExpFolder-inter-container2{
    width: 15vw;
    height: 18vh;
    position: absolute;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #b8b7b7;
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    animation: windowOpenAnimation 1s forwards;
  }
  .ExpFolder-inter-back1-top{
    width: 98.7%;
    height: 25%;
    background-color: #bfbfbf;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
  }
  .ExpFolder-inter-top-text{
    font-size: 0.9em;
    width: 30%;
  }
  .ExpFolder-inter-back1-bottom{
    width: 98.7%;
    height: 75%;
    background-color: #ffffff; 
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

  
  }
  .ExpFolder-inter-buttons{
    width: 3.5vw;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .ExpFolder-inter-buttons-red{
    width: 0.9vw;
    height: 0.9vw;
    cursor: pointer;
    border-radius: 100%;
    background-color: #fb636c;
    box-shadow: inset 3px -3px 5px rgb(0,0,0,0.1),
    inset -3px 3px 5px rgba(255, 255, 255, 0.1),
    0 1px 1px hsl(0deg 0% 0% / 0.045),
    0 2px 2px hsl(0deg 0% 0% / 0.045),
    0 4px 4px hsl(0deg 0% 0% / 0.045),
    0 8px 8px hsl(0deg 0% 0% / 0.045),
    0 16px 16px hsl(0deg 0% 0% / 0.045);
  }
  .ExpFolder-inter-buttons-yellow{
    width: 0.9vw;
    height: 0.9vw;
    border-radius: 100%;
    cursor: pointer;
    background-color: #F8D775;
    box-shadow: inset 3px -3px 5px rgb(0,0,0,0.1),
    inset -3px 3px 5px rgba(255, 255, 255, 0.1),
    0 1px 1px hsl(0deg 0% 0% / 0.045),
    0 2px 2px hsl(0deg 0% 0% / 0.045),
    0 4px 4px hsl(0deg 0% 0% / 0.045),
    0 8px 8px hsl(0deg 0% 0% / 0.045),
    0 16px 16px hsl(0deg 0% 0% / 0.045);
  }
  .ExpFolder-inter-buttons-green{
    width: 0.9vw;
    height: 0.9vw;
    border-radius: 100%;
    cursor: pointer;
    background-color: #69a86d;
    box-shadow: inset 3px -3px 5px rgb(0,0,0,0.1),
    inset -3px 3px 5px rgba(255, 255, 255, 0.1),
    0 1px 1px hsl(0deg 0% 0% / 0.045),
    0 2px 2px hsl(0deg 0% 0% / 0.045),
    0 4px 4px hsl(0deg 0% 0% / 0.045),
    0 8px 8px hsl(0deg 0% 0% / 0.045),
    0 16px 16px hsl(0deg 0% 0% / 0.045);
  }
  .ExpFolder-inter-buttons-red:hover{
    opacity: 0.5;
  }
  .ExpFolder-inter-buttons-yellow:hover{
    opacity: 0.5;
  }
  .ExpFolder-inter-buttons-green:hover{
    opacity: 0.5;
  }
  
  .ExpFolder-inter-back1-bottom{
    width: 100%;
    padding: 0 20px;  
    padding-top: 6%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box; 
  }
  .ExpFolder-inter-back1-item{
    margin: 2%;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box; 
  }
  .ExpFolder-thumbnail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
    width: 45%;
    height: 50%;
    cursor: pointer;

  }
  .ExpFolder-thumbnail1-img{
    width: 100%;
  }
  .ExpFolder-thumbnail-pdf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
    width: 43%;
    height: 45%;
    cursor: pointer;
    margin-left: 15%;
  } 
  
   .ExpFolder-thumbnail-pdf:hover{
    background-color: rgb(238, 238, 238);
  }

    .ExpFolder-thumbnail1-img-pdf{
      width: 58%;
    }
  